<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GRR_Item</key>
	<dict>
		<key>X</key>
		<string>80.773438</string>
		<key>Y</key>
		<string>186.769531</string>
	</dict>
	<key>MonitorP_0</key>
	<dict>
		<key>X</key>
		<string>37.449219</string>
		<key>Y</key>
		<string>425.093750</string>
	</dict>
	<key>MonitorP_1</key>
	<dict>
		<key>X</key>
		<string>580.019531</string>
		<key>Y</key>
		<string>417.472656</string>
	</dict>
	<key>MonitorP_2</key>
	<dict>
		<key>X</key>
		<string>53.335938</string>
		<key>Y</key>
		<string>460.414062</string>
	</dict>
	<key>MonitorP_3</key>
	<dict>
		<key>X</key>
		<string>572.269531</string>
		<key>Y</key>
		<string>512.539062</string>
	</dict>
	<key>Input_PWD</key>
	<dict>
		<key>X</key>
		<string>340.347656</string>
		<key>Y</key>
		<string>131.429688</string>
	</dict>
	<key>Input_SN</key>
	<dict>
		<key>X</key>
		<string>255.660156</string>
		<key>Y</key>
		<string>169.015625</string>
	</dict>
	<key>OK_PWD</key>
	<dict>
		<key>X</key>
		<string>447.539062</string>
		<key>Y</key>
		<string>172.691406</string>
	</dict>
	<key>OK_SN</key>
	<dict>
		<key>X</key>
		<string>535.785156</string>
		<key>Y</key>
		<string>70.464844</string>
	</dict>
	<key>Offset</key>
	<dict>
		<key>X</key>
		<string>0.000000</string>
		<key>Y</key>
		<string>23.000000</string>
	</dict>
	<key>SelectBtn</key>
	<dict>
		<key>X</key>
		<string>70.882812</string>
		<key>Y</key>
		<string>122.109375</string>
	</dict>
	<key>StartBtn</key>
	<dict>
		<key>X</key>
		<string>446.667969</string>
		<key>Y</key>
		<string>153.082031</string>
	</dict>
</dict>
</plist>
