<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>0.242188</string>
	<key>002</key>
	<string>0.531250</string>
	<key>003</key>
	<string>0.859375</string>
	<key>004</key>
	<string>1.226562</string>
	<key>005</key>
	<string>1.632812</string>
	<key>006</key>
	<string>2.082031</string>
	<key>007</key>
	<string>2.574219</string>
	<key>008</key>
	<string>3.105469</string>
	<key>009</key>
	<string>3.679688</string>
	<key>010</key>
	<string>4.292969</string>
	<key>011</key>
	<string>4.945312</string>
	<key>012</key>
	<string>5.644531</string>
	<key>013</key>
	<string>6.382812</string>
	<key>014</key>
	<string>7.160156</string>
	<key>015</key>
	<string>7.980469</string>
	<key>016</key>
	<string>8.843750</string>
	<key>017</key>
	<string>9.746094</string>
	<key>018</key>
	<string>10.691406</string>
	<key>019</key>
	<string>11.679688</string>
	<key>020</key>
	<string>12.710938</string>
	<key>021</key>
	<string>13.781250</string>
	<key>022</key>
	<string>14.894531</string>
	<key>023</key>
	<string>16.046875</string>
	<key>024</key>
	<string>17.246094</string>
	<key>025</key>
	<string>18.484375</string>
	<key>026</key>
	<string>19.765625</string>
	<key>027</key>
	<string>21.089844</string>
	<key>028</key>
	<string>22.457031</string>
	<key>029</key>
	<string>23.867188</string>
	<key>030</key>
	<string>25.320312</string>
	<key>031</key>
	<string>26.812500</string>
	<key>032</key>
	<string>28.351562</string>
	<key>033</key>
	<string>29.929688</string>
	<key>034</key>
	<string>31.550781</string>
	<key>035</key>
	<string>33.218750</string>
	<key>036</key>
	<string>34.925781</string>
	<key>037</key>
	<string>36.675781</string>
	<key>038</key>
	<string>38.472656</string>
	<key>039</key>
	<string>40.308594</string>
	<key>040</key>
	<string>42.191406</string>
	<key>041</key>
	<string>44.117188</string>
	<key>042</key>
	<string>46.082031</string>
	<key>043</key>
	<string>48.093750</string>
	<key>044</key>
	<string>50.148438</string>
	<key>045</key>
	<string>52.246094</string>
	<key>046</key>
	<string>54.390625</string>
	<key>047</key>
	<string>56.574219</string>
	<key>048</key>
	<string>58.804688</string>
	<key>049</key>
	<string>61.078125</string>
	<key>050</key>
	<string>63.394531</string>
	<key>051</key>
	<string>65.742188</string>
	<key>052</key>
	<string>68.085938</string>
	<key>053</key>
	<string>70.433594</string>
	<key>054</key>
	<string>72.777344</string>
	<key>055</key>
	<string>75.125000</string>
	<key>056</key>
	<string>77.468750</string>
	<key>057</key>
	<string>79.816406</string>
	<key>058</key>
	<string>82.164062</string>
	<key>059</key>
	<string>84.507812</string>
	<key>060</key>
	<string>86.855469</string>
	<key>061</key>
	<string>89.199219</string>
	<key>062</key>
	<string>91.546875</string>
	<key>063</key>
	<string>93.890625</string>
	<key>064</key>
	<string>96.238281</string>
	<key>065</key>
	<string>98.585938</string>
	<key>066</key>
	<string>100.929688</string>
	<key>067</key>
	<string>103.277344</string>
	<key>068</key>
	<string>105.621094</string>
	<key>069</key>
	<string>107.968750</string>
	<key>070</key>
	<string>110.312500</string>
	<key>071</key>
	<string>112.660156</string>
	<key>072</key>
	<string>115.003906</string>
	<key>073</key>
	<string>117.351562</string>
	<key>074</key>
	<string>119.699219</string>
	<key>075</key>
	<string>122.042969</string>
	<key>076</key>
	<string>124.390625</string>
	<key>077</key>
	<string>126.734375</string>
	<key>078</key>
	<string>129.082031</string>
	<key>079</key>
	<string>131.425781</string>
	<key>080</key>
	<string>133.773438</string>
	<key>081</key>
	<string>136.121094</string>
	<key>082</key>
	<string>138.464844</string>
	<key>083</key>
	<string>140.812500</string>
	<key>084</key>
	<string>143.156250</string>
	<key>085</key>
	<string>145.503906</string>
	<key>086</key>
	<string>147.847656</string>
	<key>087</key>
	<string>150.195312</string>
	<key>088</key>
	<string>152.539062</string>
	<key>089</key>
	<string>154.886719</string>
	<key>090</key>
	<string>157.234375</string>
	<key>091</key>
	<string>159.578125</string>
	<key>092</key>
	<string>161.925781</string>
	<key>093</key>
	<string>164.269531</string>
	<key>094</key>
	<string>166.617188</string>
	<key>095</key>
	<string>168.960938</string>
	<key>096</key>
	<string>171.308594</string>
	<key>097</key>
	<string>173.656250</string>
	<key>098</key>
	<string>176.000000</string>
	<key>099</key>
	<string>178.347656</string>
	<key>100</key>
	<string>180.691406</string>
	<key>101</key>
	<string>183.039062</string>
	<key>102</key>
	<string>185.378906</string>
	<key>103</key>
	<string>187.695312</string>
	<key>104</key>
	<string>189.984375</string>
	<key>105</key>
	<string>192.246094</string>
	<key>106</key>
	<string>194.480469</string>
	<key>107</key>
	<string>196.691406</string>
	<key>108</key>
	<string>198.875000</string>
	<key>109</key>
	<string>201.035156</string>
	<key>110</key>
	<string>203.171875</string>
	<key>111</key>
	<string>205.289062</string>
	<key>112</key>
	<string>207.382812</string>
	<key>113</key>
	<string>209.457031</string>
	<key>114</key>
	<string>211.511719</string>
	<key>115</key>
	<string>213.542969</string>
	<key>116</key>
	<string>215.558594</string>
	<key>117</key>
	<string>217.550781</string>
	<key>118</key>
	<string>219.531250</string>
	<key>119</key>
	<string>221.488281</string>
	<key>120</key>
	<string>223.433594</string>
	<key>121</key>
	<string>225.355469</string>
	<key>122</key>
	<string>227.265625</string>
	<key>123</key>
	<string>229.160156</string>
	<key>124</key>
	<string>231.039062</string>
	<key>125</key>
	<string>232.902344</string>
	<key>126</key>
	<string>234.750000</string>
	<key>127</key>
	<string>236.582031</string>
</dict>
</plist>
